<div id="shapes-panel">
    <div id="shapes-box">
        <ul id="shapes-list" class="demo-list-two mdl-list ">
            <li class="mdl-list__item mdl-list__item--two-line">
                <div id="shape-pattern-1" class="drag-element" draggable="true" data-sp-shape-w="2" data-sp-shape-h="2">
                    <span class="mdl-list__item-primary-content">
                        @*<i class="material-icons mdl-list__item-avatar">select_all</i>*@
                        <img src="~/Images/shapes/room_squa_2x2.png" class="mdl-list__item-secondary-action" />
                        <span>Square Room</span>
                        <span class="mdl-list__item-sub-title">Size 2x2</span>
                    </span>
                </div>
            </li>
            <li class="mdl-list__item mdl-list__item--two-line">
                <div id="shape-pattern-2" class="drag-element" draggable="true" data-pt-shape-w="2" data-pt-shape-h="2">
                    <span class="mdl-list__item-primary-content">
                        @*<i class="material-icons mdl-list__item-avatar">select_all</i>*@
                        <img src="~/Images/shapes/room_rect_3x2.png" />
                        <span>Rectangle Room</span>
                        <span class="mdl-list__item-sub-title">Size 3x2</span>
                    </span>
                </div>
            </li>
            <li class="mdl-list__item mdl-list__item--two-line">
                <div id="shape-pattern-3" class="drag-element" draggable="true" data-pt-shape-w="2" data-pt-shape-h="2">
                    <span class="mdl-list__item-primary-content">
                        @*<i class="material-icons mdl-list__item-avatar">select_all</i>*@
                        <img src="~/Images/shapes/room_lshape_3x3.png" />
                        <span>L-Shape Room</span>
                        <span class="mdl-list__item-sub-title">Size 3x3</span>
                    </span>
                </div>
            </li>
            <li class="mdl-list__item mdl-list__item--two-line">
                <div id="shape-pattern-4" class="drag-element" draggable="true" data-pt-shape-w="2" data-pt-shape-h="2">
                    <span class="mdl-list__item-primary-content">
                        @*<i class="material-icons mdl-list__item-avatar">select_all</i>*@
                        <img src="~/Images/shapes/room_squa_3x3.png" />
                        <span>Square Room</span>
                        <span class="mdl-list__item-sub-title">Size 3x3</span>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</div>