$btnPosition: 12px;
$iconColor: white;
$iconBgndColor: black;
#stage-items-container
{
    .item-box {

        .item-bgnd {
            border: 5px solid #000;
            background-color:white;
        }

        .shape-button {
            @include box-sizing(box);
            position: absolute;
            width: 26px;
            height: 26px;

            &.shape-rotate-btn {
                top: -$btnPosition;
                left: -$btnPosition;
                cursor: grab;
                cursor: -moz-grab;
                cursor: -webkit-grab;

                .shape-rotate-inv-btn {
                    /* position: relative; */
                    width: 26px;
                    height: 26px;
                    /*background-color: red;*/
                    @include border-radius(50% 50%);
                    /* display: inline-block; */
                }

                .shape-rotate-inv-icon {
                    position: absolute;
                    /* display: inline-block; */
                    top: 0;
                    color: $iconColor;
                    background-color: $iconBgndColor;
                }
            }

            &.shape-drag-btn {
                bottom: -$btnPosition;
                left: -$btnPosition;
                cursor: move;

                .shape-drag-inv-btn {
                    /* position: relative; */
                    width: 26px;
                    height: 26px;
                    /*background-color: red;*/
                    @include border-radius(50% 50%);
                    /* display: inline-block; */
                }

                .shape-drag-inv-icon {
                    position: absolute;
                    /* display: inline-block; */
                    top: 0;
                    color: $iconColor;
                    background-color: $iconBgndColor;
                }
            }

            &.shape-delete-btn {
                top: -$btnPosition;
                right: -$btnPosition;
                cursor: pointer;

                .shape-delete-inv-btn {
                    /* position: relative; */
                    width: 26px;
                    height: 26px;
                    /*background-color: red;*/
                    @include border-radius(50% 50%);
                    /* display: inline-block; */
                }

                .shape-delete-inv-icon {
                    position: absolute;
                    /* display: inline-block; */
                    top: 0;
                    color: $iconColor;
                    background-color: $iconBgndColor;
                }
            }

            &.shape-resize-btn {
                bottom: $btnPosition;
                right: $btnPosition;
                cursor: nw-resize;
                display: none;

                .shape-resize-inv-btn {
                    /* position: relative; */
                    width: 26px;
                    height: 26px;
                    /*background-color: red;*/
                    z-index: 9;
                    @include border-radius(50% 50%);
                    /* display: inline-block; */
                }

                .shape-resize-inv-icon {
                    position: absolute;
                    /* display: inline-block; */
                    top: 0;
                    z-index: 0;
                    color: $iconColor;
                    background-color: $iconBgndColor;
                }
            }
        }
    }

    .hidden {
        visibility: visible
    }
}
