/*Mixins*/
body {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  /*overflow-y: hidden;
    overflow-x: hidden;*/ }
  body #app {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0; }

#designer-screen {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: blueviolet; }
  #designer-screen:before, #designer-screen:after {
    content: '';
    display: table; }
  #designer-screen:after {
    clear: both; }
  #designer-screen #designer-workspace {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*position: relative;
        display: block;
        top: 64px;*/
    width: 100%;
    height: 100%; }
    #designer-screen #designer-workspace:before, #designer-screen #designer-workspace:after {
      content: '';
      display: table; }
    #designer-screen #designer-workspace:after {
      clear: both; }

/*Toolbar START*/
#designer-toolbar {
  height: 64px; }

.mdl-layout__drawer {
  width: 500px;
  left: -250px; }

.mdl-layout__drawer.is-visible {
  left: 0; }

.designer-toolbar-svg-icon {
  display: inline-block;
  width: 20px; }

.mdl-slider__background-lower {
  background: black !important; }

.mdl-slider__background-upper {
  /*background: #000000 !important;*/ }

.mdl-slider:active::-webkit-slider-thumb, .mdl-slider::-webkit-slider-thumb {
  background: black !important; }

.mdl-slider:active::-moz-range-thumb, .mdl-slider::-moz-range-thumb {
  background: black !important; }

.mdl-slider:active::-ms-thumb, .mdl-slider::-ms-thumb {
  background: black !important; }

.mdl-slider:active::-webkit-slider-thumb, .mdl-slider::-webkit-slider-thumb {
  background: black !important; }

.mdl-slider:active::-moz-range-thumb, .mdl-slider::-moz-range-thumb {
  background: black !important; }

.mdl-slider:active::-ms-thumb, .mdl-slider::-ms-thumb {
  background: black !important; }

.designer-toolbar-group {
  padding-top: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.35);
  display: block;
  font-size: 16px;
  font-family: "Helvetica","Arial",sans-serif;
  margin: 0;
  width: 100%;
  background: 0 0;
  text-align: left;
  color: inherit; }

.designer-toolbar-form-group .mdl-textfield {
  width: 450px; }
  .designer-toolbar-form-group .mdl-textfield .mdl-textfield__label {
    color: #448aff; }

.designer-toolbar-form-group .mdl-textfield__input {
  width: 450px; }

.designer-toolbar-form-group .mdl-textfield__label {
  width: 450px; }

.mdl-long-btn {
  width: 450px; }

.mdl-list-item-fixed {
  min-height: 32px;
  margin-left: 60px; }

.mdl-list__item {
  padding: 0; }

.mdl-list {
  padding: 0; }

.mdl-button-color-blue {
  color: black; }

.designer-toolbar-button {
  text-transform: none;
  background-color: #ffeb3b;
  box-shadow: none;
  text-transform: none;
  min-width: 26px;
  min-height: 16px; }

.mdl-slider__container {
  position: relative;
  top: 6px;
  float: left;
  left: -10px; }

#zoom-floor-panel #zoom-out-floor-btn {
  display: inline-block;
  /* position: absolute; */
  /* top: 18px; */
  cursor: pointer;
  /* right: -20px; */
  /* padding: 0px !important; */
  /* border: none; */
  /* background: none; */
  /* outline: none; */
  float: left;
  /* left: -15px; */ }

#zoom-floor-panel #zoom-in-floor-btn {
  right: 0;
  position: relative;
  /* display: inline-block; */
  right: 20px;
  /* padding: 0px !important; */
  /* position: relative; */
  float: right;
  cursor: pointer; }

@media screen and (max-width: 1024px) {
  .mdl-layout__header {
    min-height: 64px; } }

/*Toolbar END*/
#shapes-panel {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 375px;
  /*height: 100%;*/
  z-index: 3;
  overflow-y: auto;
  /*padding-left: 1em;*/
  /*margin-top: 64px;*/
  background-color: white;
  border-right: solid 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 0px 2px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 2px 0px 2px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 2px 0px 2px 0px rgba(50, 50, 50, 0.3); }
  #shapes-panel:before, #shapes-panel:after {
    content: '';
    display: table; }
  #shapes-panel:after {
    clear: both; }
  #shapes-panel #shapes-box .mdl-list__item-primary-content {
    margin-left: 15px; }
  #shapes-panel #shapes-box .shape-list-btn {
    /*padding-left: 10px;*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    cursor: move; }
  #shapes-panel #shapes-box .shape-list-img-sml {
    display: inline-block;
    width: 40px;
    /*right: 10px;
            position: absolute;
            top: 10px;*/ }
  #shapes-panel #shapes-box .shape-list-size {
    display: inline-block; }
  #shapes-panel #shapes-box .shape-list-title {
    padding-left: 10px; }
  #shapes-panel #shapes-box .shape-list-sml-bar {
    width: 5px;
    background-color: #448aff;
    height: 100%;
    display: inline-block; }

#room-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*height: 100%;*/
  position: relative;
  z-index: 1;
  overflow-x: auto;
  overflow-y: auto;
  background-color: #eeeeee;
  /*margin-top: 64px;*/
  margin-left: 375px; }
  #room-container:before, #room-container:after {
    content: '';
    display: table; }
  #room-container:after {
    clear: both; }
  #room-container #room {
    width: 620px;
    /*height: 600px;*/
    /*margin: auto;*/
    /*top: 0;
        right: 0;
        bottom: 0;
        left: 0;*/
    background-color: white;
    -webkit-box-shadow: 6px 6px 2px 0px rgba(50, 50, 50, 0.29);
    -moz-box-shadow: 6px 6px 2px 0px rgba(50, 50, 50, 0.29);
    box-shadow: 6px 6px 2px 0px rgba(50, 50, 50, 0.29);
    /*z-index:2;*/ }
    #room-container #room span {
      display: inline-block; }
    #room-container #room #room-grid-bgnd {
      /*position: relative;
                display: inline-block;
                z-index: 1;*/
      /*Generated dynamically by JS*/ }
      #room-container #room #room-grid-bgnd .room-board-field-bgnd {
        /*Generated dynamically by JS*/ }
    #room-container #room #room-grid-live {
      /*position: relative;
                display: inline-block;
                z-index: 2;*/
      /*Generated dynamically by JS*/ }
      #room-container #room #room-grid-live .room-board-field {
        /*Generated dynamically by JS*/ }
        #room-container #room #room-grid-live .room-board-field .board-num {
          /*Generated dynamically by JS*/ }
    #room-container #room #room-tables-container {
      /*position: relative;
                display: inline-block;
                z-index: 3;*/ }

